.new-snip {
  background-color: #21201D;
  margin-bottom: 3.5em;
}

.new-snip-header {
  display: flex;
}

.new-snip-title-container {
  padding: 0.6em 0.8em;
  width: 75%;
}

.new-snip-title {
  margin: 0;
  width: 100%;
}

.new-delete-snip-btn-container {
  margin-left: auto;
}

.new-delete-snip-btn {
  color: #fdfdfd;
  font-size: 0.8em;
  background-color: #FF6B6C;
  padding: 0.4em 0.6em;
  border: 1px solid #FF6B6C;
  border-radius: 0.2em; 
  border-top-right-radius: 0;
  transition: 
    background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.new-delete-snip-btn:hover,
.new-delete-snip-btn:focus {
  background-color: #ca1c1c;
  border: 1px solid #ca1c1c;
}

.new-snip-body-container {
  padding: 0 0.8em;
  font-size: 1.1em;
}

.new-snip-body {
  width: 100%;
  height: 15em;
}

.new-snip-footer {
  padding: 0.6em 0.8em;
}

.new-snip-submit-controls {
  text-align: right;
  margin-right: 0.4em;
}

.new-snip-submit-btn {
  color: #fdfdfd;
  font-size: 0.8em;
  background-color: #06AED5;
  padding: 0.2em 0.6em;
  border: 1px solid #06AED5;
  border-radius: 0.2em; 
  transition: 
    background-color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}

.new-snip-submit-btn:hover,
.new-snip-submit-btn:focus {
  background-color: #086788;
  border: 1px solid #086788;
}

.new-snip-title,
.new-snip-body {
  padding: 0.4em 0.6em;
}