
.welcome-container {
  background: #21201D;
  font-size: 1.1em;
  padding: 0.6em 0.8em;
  color: #BBCEA8;
  border-radius: 0.4em;
  margin: 0 auto;
  max-width: 30em;
}

@media (min-width: 40em) {
  .welcome-container {
    font-size: 1.4rem;
    padding: 1.4em 6%;
  }
}

@media (min-width: 48em) {
  .welcome-container {
    font-size: 1.6rem;
    padding: 1.4em 8%;
  }
}