
.banner-logo {
  text-align: center;
  font-size: 1.6rem;
  padding: 1.2em;
}

@media (min-width: 40em) {
  .banner-logo {
    font-size: 2rem;
    padding: 1.4em 6%;
  }
}

@media (min-width: 48em) {
  .banner-logo {
    font-size: 2.4rem;
    padding: 1.4em 8%;
  }
}

@media (min-width: 64em) {
  .banner-logo {
    font-size: 2.8rem;
    padding: 1.6em 10%;
  }

  .logo {
    font-size: 2.5em;
  }
}

@media (min-width: 94em) {
  .banner-logo {
    padding: 1.6em 12%;
  }

  .logo {
    font-size: 2.8em;
  }
}